* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.instagramWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagramPhone {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%
}

.instagramPhone img {
    height: 50rem;
}

.instagramContinue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;

}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;

}

.LogoInstagram {
    height: 3rem;
}

.ProfilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.ProfilePicture img {
    height: 6rem;
    width: 6rem;
}

.instagramlogin {
    background-color: #0095F6;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
}

.instagramlogout {
    color: #0095F6;
    margin-top: 1rem;
}

.notaccount {
    color: rgb(160, 160, 160);
}

.linkblue {
    color: #0095F6;
}

.getapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.appstore {
    height: 3rem;
    width: 10rem;
    background-size: cover;

}


.appstore:nth-child(1) {
    background-image: url("./imagens/Appstore-logo.png");
}
.appstore:nth-child(2) {
    background-image: url("./imagens/logo-google-play.png");
}

/* media queries*/

@media (max-width: 1024px) {
    .instagramWrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .instagramWrapper {
        width: 90%;
    }
    .instagramPhone {
        display: none;
    }
    .instagramContinue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}